div(class="Card")
	h2(class="Card-name") Big Boss
	img(src="public/images/bigboss.jpg", alt="wolverine" class="Card-image")
	div(class="Card-description") Big Boss es el mejor soldado del mundo
	div(class="Card-attack") 500 puntos de ataque