//El import nos ayuda a importar distinos archivos Styl
//Desde la carpeta lib hay que compilar app.styl (styles ya no porque esta importado aqui mismo)
//De la siguiente manera  --> stylus -c -w -o ../public/css/ app.styl
@import "card/styles.styl"
body
	font-family  arial
	font-size  16px
