//El import nos ayuda a importar distinos archivos Styl
//Desde la carpeta lib hay que compilar app.styl (styles ya no porque esta importado aqui mismo)
//De la siguiente manera  --> stylus -w -o ../public/css/ app.styl
// importamos nib para que automaticamente ponga los prefix que necesitan otros browsers
test(color = red)
	border 5px solid color
	box-sizing border-box
	
@import "nib"
@import "/card/styles.styl"
@import "/layout/styles.styl"
@import "/status/styles.styl"
@import "/phases/styles.styl"
@import "/battle/styles.styl"


body
	font-family Arial
	font-size 16px
	margin 0



